@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
	--bg-color: #081b29;
	--second-bg-color: #112e42;
	--text-color: #ededed;
	--main-color: #00abf0;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
	overflow: hidden;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
	font-size: 2.5rem;
	color: var(--text-color);
	font-weight: 600;
}

.navbar {
	padding-top: 5rem;
	position: fixed;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	z-index: 101;
	right: 0;
}

.navbar a {
	font-size: 1.7rem;
	color: var(--text-color);
	font-weight: 500;
	margin-right: 3rem;
	transition: .3s;
}

.navbar a:hover {
	color: var(--main-color);
}

.navbar a.active {
	color: var(--main-color);
}

#menu-icon {
	font-size: 3.6rem;
	color: var(--text-color);
	cursor: pointer;
	display: none;
}

section {
	min-height: 100vh;
	padding: 10rem 9% 2rem;
}

.home {
	display: flex;
	align-items: center;
	padding: 0 9%;
	background: url("../images/home.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.home-content {
	max-width: 60rem;
}

.home-content h1 {
	font-size: 5.6rem;
	font-weight: 700;
	line-height: 1.3;
}

.home-content h1 span {
	color: var(--text-color);
}

.home-content p {
	font-size: 1.6rem;
	margin: 2rem 0 1rem;
}

.btn-box {
	position: relative;
	display: flex;
	justify-content: space-between;
	widows: 34.5rem;
	height: 5rem;
}

.btn-box .btn {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 15rem;
	height: 100%;
	background: var(--main-color);
	border: .2rem solid var(--main-color);
	border-radius: .8rem;
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: .1rem;
	color: var(--bg-color);
	z-index: 1;
	overflow: hidden;
	transition: .5s;
}

.btn-box .btn:hover {
	color: var(--main-color);
	cursor: pointer;
}

.btn-box .btn:nth-child(2) {
	background: transparent;
	color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
	color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
	background: var(--main-color);
}

.btn-box .btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: var(--bg-color);
	z-index: -1;
	transition: .5s;
}

.btn-box .btn:hover::before {
	width: 100%;
}

.home-sci {
	position: absolute;
	bottom: 4rem;
	width: 170px;
	display: flex;
	justify-content: space-between;
	z-index: 1;
}

.home-sci a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: .2rem solid var(--main-color);
	border-radius: 50%;
	font-size: 20px;
	color: var(--main-color);
	z-index: 1;
	overflow: hidden;
	transition: .5s;
}

.home-sci a:hover {
	color: var(--bg-color);
}

.home-sci a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: var(--main-color);
	z-index: -1;
	transition: .5s;
}

.home-sci a:hover::before {
	width: 100%;
}

.about {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	background: var(--second-bg-color);
	padding-bottom: 6rem;
}

.heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

#animate-heading {
  visibility: hidden;
}

.about-img {
	position: relative;
	width: 25rem;
	height: 25rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-img img {
	width: 90%;
	border-radius: 50%;
	border: .2rem solid var(--main-color);
}

.about-img .circle-spin {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0);
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border-top: .2rem solid var(--second-bg-color);
	border-bottom: .2rem solid var(--second-bg-color);
	border-left: .2rem solid var(--main-color);
	border-right: .2rem solid var(--main-color);
}

.about-content {
	text-align: center;
}

.about-content h3 {
	font-size: 2.6rem;
}

.about-content p {
	font-size: 1.6rem;
	margin: 2rem 0 3rem;
}

.btn-box.btns {
	display: inline-block;
	width: 15rem;
}

.btn-box.btns a::before {
	background: var(--second-bg-color)
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 2rem 9%;
	background: var(--second-gb-color);
}

.footer-text p {
	font-size: 1.6rem;
}

.footer-iconTop a{
	position: absolute;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: .8rem;
	background: var(--main-color);
	border: .2rem solid var(--main-color);
	border-radius: .6rem;
	z-index: 1;
	overflow: hidden;
}

.footer-iconTop a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--main-color);
	z-index: -1;
}

.footer-iconTop a:hover::before {
	width: 100%;
}

.footer-iconTop a i {
	font-size: 2.4rem;
	color: var(--bg-color);
	transition: .5s;
}

.footer-iconTop a:hover i {
	color: var(--main-color);
}

/* New styles for mobile menu */
.menu-icon {
	position: fixed;
    top: 30px; /* Adjust the top position according to your needs */
    left: 20px; /* Adjust the right position according to your needs */
    z-index: 1000; /* Adjust the z-index value as needed */
    font-size: 3.6rem;
    color: var(--text-color);
}

.mobile-menu {
	position: fixed;
	top: calc(30px + 3.6rem);
	left: 20px;
	z-index: 9999;
	background-color: var(--bg-color);
    padding: 1rem;
    border-radius: 0.6rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.mobile-menu.active {
	display: block;
}

.mobile-menu a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    display: block;
    padding: 1rem;
    transition: color .3s ease; /* Add transition for smooth color change */
}

/* Change color to --main-color on hover */
.mobile-menu a:hover {
    color: var(--main-color);
}

/* Media query for mobile view */
@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}

/* Media query for desktop view */
@media (min-width: 769px) {
    .menu-icon {
        display: none;
    }

    .mobile-menu {
        display: none;
    }
}

.password-form {
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 6px;
  z-index: 999; /* Set a high z-index to ensure it overlays other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.password-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.password-form button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.password-need {
	font-size: 1.4rem;
	color: var(--bg-color)
}

/* Add styles for error messages */
.error-message {
  color: red;
  font-size: 1.2rem;
  margin-top: 5px;
}

.flappy-bird {
	width: 40vh;
}

.flappy-bird-try {
	color: var(--main-color);
	font-size: 1.2rem;
}

.flappy-bird-try:hover {
	transition: 0.2s ease;
	color: hotpink;
	font-size: 1.3rem;
}

.flappy-bird-try:not(hover) {
	transition: 0.2s ease;
	color: var(--main-color);
	font-size: 1.2rem;
}

.viewproject {
	color: var(--text-color);
	font-size: 1.6rem;
}

.projectname {
	font-size: 1.6rem;
}

.projectdescription {
	font-size: 1.5rem;
}

.abstract {
	font-size: 1.2rem;
	color: var(--main-color);
}

.abstract:hover {
	transition: 0.2s ease;
	font-size: 1.3rem;
	color: hotpink;
	text-decoration: none;
}

.abstract:not(hover) {
	transition: 0.2s ease;
	font-size: 1.2rem;
	color: var(--main-color);
}

/* Style for the popup container */
#popup-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Style for the modal content */
.modal-content {
    text-align: center;
}

/* Style for the close button */
.close {
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 50px;
	color: var(--main-color);
    cursor: pointer;
}

.project-card {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease, transform 0.4s ease;
}

.project-card.visible {
  opacity: 1;
  transform: translateX(0);
}

.message {
	color: var(--bg-color)
}

/* Hide the message initially */
#popup-message {
    display: none;
}

.hobby {
	font-size: 1.9rem;
}

.fcwyler-link {
	color: aqua;
	font-size:  1.2rem;
}

.hobby-img-fcw{
	width: 20%;
	height: auto;
	border-radius: 10%;
	max-width: 100%;
}

.hobby-img-fcw{
  transition: transform 0.3s ease-in-out; 
}

.hobby-img-fcw:hover {
  transform: scale(1.1); /* Scale up the image on hover */
}

.hobby-img:nth-child(3) {
	width: 40vh;
	padding: 1rem;
	height: auto;
 	border-radius: 10%;
    transition: transform 0.3s ease-in-out; 
}

.hobby-img:nth-child(3):hover {
	transform: scale(1.1);
}

.hobby-img:nth-child(4) {
	width: 10vh;
	padding: 1rem;
	height: auto;
	border-radius: 10%;
	transition: transform 0.3s ease-in-out; 
}

.hobby-img:nth-child(4):hover {
	transform: scale(1.05);
}

.word-animation {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
	color: var(--text-color);
  }

 .word-animation span {
    display: inline-block;
    opacity: 0.5;
    transform: translateY(100%);
    animation: letter-by-letter 1s ease-out forwards;
  }

  @keyframes letter-by-letter {
    to {
      opacity: 2;
	  color: var(--text-color);
      transform: translateY(0);
    }
  }

.home-content p.word-animation {
  margin-top: 0px; /* Reset the margin to remove gap */
  margin-bottom: 30px; /* Adjust the value as needed */
}

.fussball{
  width: 50vh;
  height: auto;
  max-width: 100%;
  padding: 1rem;
  border-radius: 10%;
  transition: transform 0.5s ease-in-out; /* Add a transition effect for scaling */
}

.fussball:hover {
  transform: scale(1.1);
}

.fishing {
	width: 35vh;
	height: auto;
	border-radius: 10%;
}

.impressum {
	font-size: 1.4rem;
	color: var(--main-color);
}


/* Lebenslauf*/
.custom-progress {
}

.pdf_dl {
	font-size: 1.5rem;
	color: var(--main-color);
	margin: 1rem;
	text-decoration: none;
}

.pdf_dl:hover {
	-ms-transition: 0.6s ease;
	-moz-transition: 0.6s ease;
	-webkit-transition: 0.6s ease;
	font-size: 1.6rem;
	color: hotpink;
	text-decoration: none;
}

.pdf_dl:not(hover) {
	-ms-transition: 0.6s ease;
	-moz-transition: 0.6s ease;
	-webkit-transition: 0.6s ease;
	font-size: 1.5rem;
	color: var(--main-color);
	margin: 1rem;
	border: var(--main-color);
}

.password-box {
  text-align: center;
  margin-top: 150px;
}

.personalien {
	font-size: 1.4rem;
}

.lebenslauf_alert {
	font-size: 1.4rem;
}

.skills-title {
	text-align: center;
}

.skill-card {
	animation: fadeIn 0.5s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    background-color: #f4f4f4;
	color: var(--bg-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s;
}

.skill-card:nth-child(1) {
    animation-delay: 0.5s; 
}

.skill-card:nth-child(2) {
    animation-delay: 0.6s;
}

.skill-card:nth-child(3) {
    animation-delay: 0.7s; 
}

.skill-card:nth-child(4) {
    animation-delay: 0.8s; 
}

.skill-card:nth-child(5) {
    animation-delay: 0.9s; 
}

.skill-card:nth-child(6) {
    animation-delay: 1s; 
}

.skill-card:nth-child(7) {
    animation-delay: 1.1s; 
}

.skill-card:nth-child(8) {
    animation-delay: 1.2s; 
}

.skill-card:nth-child(9) {
    animation-delay: 1.3s; 
}

.skill-card:nth-child(10) {
    animation-delay: 1.4s; 
}

.skill-card:nth-child(11) {
    animation-delay: 1.5s; 
}

.skill-card:nth-child(12) {
    animation-delay: 1.6s; 
}

.skill-card:nth-child(13) {
    animation-delay: 1.7s; 
}

.skill-card:nth-child(14) {
    animation-delay: 1.8s; 
}

.skill-card:nth-child(15) {
	animation-delay: 1.9s
}


.skill-card:hover {
	background-color: transparent;
	color: #f4f4f4;
	transition: 0.5s;
	cursor: default;
}

.skill-icon {
    font-size: 36px;
    margin-bottom: 10px;
}

.skill-details {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
.skills-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/* Style for the password input */
#password-input {
  padding: 10px;
  font-size: 16px;
}

/* Style for the password submit button */
#password-submit {
  height: 45px;
  padding: 17px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

/* Style for the password error message */
#error-message {
  color: red;
}

tbody tr {
    border-bottom: 1px solid #ccc;
}

.grades {
    text-align: center;
    padding: 50px;
    background-color: transparent;
}

.Fach {
	background: #000050;
	color: white;
}

.note {
	background: #000050;
	color: white;
}

.grades-table {
    max-width: 600px;
    margin: 0 auto;
	opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

table th, table td {
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #000066;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.body-cv {
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, #000066, #000040);
  background-size: 200% 800%;
  animation: moveBackground 90s linear infinite;
}

.body-cv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transform: skewX(-2000deg);
  animation: shine 10s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes shine {
  0% {
    transform: skewX(-20deg) translateX(-150%);
  }
  100% {
    transform: skewX(-20deg) translateX(150%);
  }
}

.education {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: auto;
	padding-bottom: 5rem;
}

.education .education-row {
	display: flex;
	flex-wrap: wrap;
	gap: 5rem;
}

.education-row .education-column{
	flex: 1 1 40rem;
}

.education-row .title {
	font-size: 2.5rem;
	margin: 0 0 1.5rem 2rem;
}

.education-column .title {
	font-size: 2.5rem;
	margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
	border-left: -2rem solid var(--main-color);
}

.education-box .education-content {
	position: relative;
	padding-left: 2rem;
}

.education-content.slide-left {
  opacity: 0;
  transform: translateX(100px);
  animation: slideLeftAnimation 1s ease forwards;
}

@keyframes slideLeftAnimation {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.education-content {
  transform: translateX(100%);
  opacity: 0;
}

.education-box .education-content::before {
	content: '';
	position: absolute;
	top: 0;
	left: -1.1rem;
	width: 2rem;
	height: 2rem;
	background: var(--main-color);
	border-radius: 50%;
}

.education-content .content {
	position: relative;
	padding: 1.5rem;
	border: .2rem solid var(--main-color);
	border-radius: .6rem;
	margin-bottom: 2rem;
	overflow: hidden;
}

.education-content .content::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: transparent;
	z-index: -1;
	transition: .5s;
}

.education-content .content:hover::before {
	width: 100%;
	background: #001B66;
}

.education-content .content .year {
	font-size: 1.5rem;
	color: var(--main-color);
	padding-bottom: .5rem;
}

.education-content .content .year i {
	padding-right: .5rem;
}

.education-content .content h3 {
	font-size: 2rem;
}

.education-content .content p {
	font-size: 1.6rem;
	padding-top: .5rem;
}

.pdf-button {
	color: var(--main-color);
	font-size: 1.2rem;
}

.pdf-button:hover {
	-ms-transition: 0.2s ease;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	color: hotpink;
	font-size: 1.3rem;
}

.pdf-button:not(hover) {
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-webkit-transition: 0.2s ease;
	color: var(--main-color);
	font-size: 1.2rem;
}

/* screens with a maximum width of 767px (typical smartphone screens) */
@media (max-width: 767px) {
    .skills-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
        gap: 20px; /* Add spacing between the cards */
    }

    .skill-card {
        width: 100%; /* Make each card occupy the full width */
        text-align: center; /* Center-align the card content */
    }
}



/*gallery*/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
	transition: transform 0.5s ease-in-out;
}

.gallery-item:hover {
	transform: scale(1.05);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
	transition: transform 1s ease-in-out;
    align-items: center;
    z-index: 999;
}

.lightbox-content {	
	display: flex;
    flex-direction: column;
    align-items: center;
	transition: transform 1s ease-in-out;
    max-width: 90%;
    max-height: 90%;
	border-radius: 2%;
}

.close {
    position: absolute;
    top: 0px;
    right: 30px;
    font-size: 40px;
    color: var(--main-color);
    cursor: pointer;
}

.nav-btn {
	color: var(--main-color);
	font-size: 7rem;
	font-weight: bolder;
    width: 40px; 
	padding: 0.5rem;
	border-radius: 30%;
	cursor: pointer;
}

.countries {
	padding: 1rem;
}